language: ruby
before_install:
  - gem install bundler
install:
  - bundle install
before_script:
  - wget https://www.princexml.com/download/prince_11-1_ubuntu12.04_amd64.deb
  - sudo dpkg -i prince_11-1_ubuntu12.04_amd64.deb
script:
  - bundle exec rspec spec
rvm:
  - 2.2.3
  - 2.1.0
  - 2.0.0
  - 1.9.3
  - ruby-head
